<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Dear, {{referralname}}! </h2>
<br>
<p>Welcome to ProLongevity...!!!</p>
<p>{{username}} has refer you to register with the ProLongevity service.</p>
<p>Please click on the link below to register and get amazing discount offer.</p>
<a href="{{site}}">Please click here to get register.</a>
<p>Use <h3>"{{discountCode}}"</h3> to get the discount on your purchase.</p>
 <br>
<p>We look forward to see you soon.</p>
<br>
<br>
<p><b>Thank you,</b></p>
<p><b>ProLongevity Team</b></p>
</body>
</html>