<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Dear, {{username}}! </h2>
<br>
<p>
    Please accept this friendly reminder that your next instalment is due on <b>{{duedate}}</b> for order number <b>{{orderNumber}}</b> of <b>{{orderDate}}.</b>
</p>
<br>
<p>Please click on the below link to pay the outstanding amount.</p>
<br>
<a href="{{site}}">{{site}}</a>
<br>
<p>We look forward to seeing you again soon, and many thanks for your business.</p>
<br>
<br>
<p><b>Thank you,</b></p>
<p><b>Team ProLongevity</b></p>
</body>
</html>