<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>Dear, {{username}}! </h2>
<br>
<p>This is to remind you that, your instalment is due on <b>{{duedate}}</b> for order number <b>{{orderNumber}}.</b></p>
<br>
<p>Please click on the below link to pay the outstanding amount.</p>
<br>
<a href="{{site}}">{{site}}</a>
<br>
<p>We look for ward to see you soon.</p>
<br>
<br>
<br>
<p><b>Thank you,</b></p>
<p><b>ProLongevity Team</b></p>
</body>
</html>