<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="https://images.squarespace-cdn.com/content/v1/5c6581b990f9041e32f89202/1550175593198-6A9V5982JO26L3JBR7MR/ke17ZwdGBToddI8pDm48kLrQnd3tdlQHoi35tdatgzRZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpz8CxRD_lte4BsPmEGGAS09NTjnJO9fCHIuJZFekHsS8VbwhKRHeD_fsBnlJq72u68/favicon.ico?format=100w">
    <title>Welcome to ProLongevity</title>

    <!-- CSS only -->

    <!-- CSS reference from Static folder -->
  <link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- To make sure, this will work on all device. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');

        function getCookie(name)
        {
            //split cookie string and get all individual name

            var cookieArr = document.cookie.split(";");

            // Loop through the array elements
            for(var i=0; i < cookieArr.length; i++)
            {
                var cookiePair = cookieArr[i].split("+");
                //Removing white space at the beginning of the cookie
                // and compare it with given string
                if(name == cookiePair[0].trim())
                {
                    //Decode the cookie value and return
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            // return null if not found.
            return null;
        }
        var cart = JSON.parse(getCookie('cart'))
        if(cart == undefined)
        {
            cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

        }

    </script>
  <style type="text/css">
    html,
    body,
    header,
    .carousel {
     height: 60vh;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .carousel {
         height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .carousel {
         height: 100vh;
      }
    }
    .carousel-inner{

      }
    .carousel-item{
      height:  100vh;
      }

    .view{
        height:100%
      }



  </style>
</head>

<body>
<div class="mt-5 pt-4">

    </div>

{% block extra_head %}

{% endblock extra_head %}

{% include 'manorpharmacy/menubar.html' %}

{% block content %}

{% endblock content %}



{%block maincontent %}

{% endblock maincontent  %}

{% include 'manorpharmacy/footer.html' %}

{% include 'manorpharmacy/scripts.html' %}

{% block extra_scripts %}
{% endblock extra_scripts %}


</body>



</html>
`