{% extends 'manorpharmacy/main.html' %}
{% load static %}

{% block content %}
 <main>
    <div class="container" style="margin-top:5rem;">
   <div class="row d-flex justify-content-center">
        <div class="col-12">
            <ul id="progressbar" class="text-center">
                <li class="active step0"><span class="progress-icon" style="color:black">Cart</span></li>
                <li class="step0"><span class="progress-icon" style="color:black">Checkout</span></li>
                <li class="step0"><span class="progress-icon" style="color:black">Payment</span></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'manor' %}">&#x2190; Continue shopping</a>
                <br>
                <table class="table">
                    <tr>
                        <th>
                            <h5>Items: <strong>{{order.get_TotalCartItems}}</strong></h5>
                        </th>
                        <th>
                            <h5>Total: <strong>£{{order.get_CartTotalPriceForInitialSetupAndProduct|floatformat:2}}</strong></h5>
                        </th>
                        <th>
                            {% if items.count > 0 %}
                            <a style="float: right;margin: 5px;" class="btn btn-success" href="{% url 'checkout' %}">Proceed to Checkout and claim the discount </a>
                            {% endif %}
                        </th>
                    </tr>
                </table>
            </div>

            <br>

            <div class="box-element">
                <div class="cart-row">
                    {% comment %}first div is for image{% endcomment %}
                    <div style="flex:1;"></div>
                    <div style="flex:2;"><strong>Item</strong></div>
                    <div style="flex:1;"><strong>Price</strong></div>
                    <div style="flex:2;"><strong>Initial Setup Charge</strong></div>
                    <div style="flex:1;"><strong>No of user</strong></div>
                    <div style="flex:1;"><strong>Quantity</strong></div>
                    <div style="flex:1;"><strong>Total</strong></div>
                </div>

                {% for item in items %}

                <div class="cart-row">
                      {% if item.Product.Image != '' %}
                            <div style="flex:1"><img class="row-image" src="{% static 'productimages/' %}{{item.Product.Image}}"></div>
                        {% else %}
                            <div style="flex:1"><img class="row-image" src="{% static 'images/No_Image.png' %}"></div>
                        {% endif %}
					<div style="flex:2"><p>{{item.Product.Name}}</p></div>

					<div style="flex:1"><p>£{{item.getCartItemsPrice|floatformat:2}}</p></div>

                    <div style="flex:2"><p>£{{item.getCartItemsInitialSetupCharge|floatformat:2}}</p></div>
                    <div style="flex:1"><p>{{item.TotalNoOfPerson}}</p></div>
					<div style="flex:1">
						<p class="quantity">{{item.Quantity}}</p>
						<div class="quantity">
							<img data-product="{{item.Product.Product_Id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">

							<img data-product="{{item.Product.Product_Id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
						</div>
					</div>
					<div style="flex:1"><p>£{{item.get_TotalForAllProduct_ByQuantity|floatformat:2}}</p></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
 </main>
{% endblock content %}
