{% extends 'manorpharmacy/main.html' %}
{% load static %}
{% block content %}
 <main>
    <div class="container" style="margin-top:5rem;">
   <center>
        <div class="row d-flex justify-content-center">

        <div class="col-12">
            <ul id="progressbar" class="text-center">
                <li class="active step0"><span class="progress-icon" style="color:black">Cart</span></li>
                <li class="active step0"><span class="progress-icon" style="color:black">Checkout</span></li>
                <li class="step0"><span class="progress-icon" style="color:black">Payment</span></li>
            </ul>
        </div>

    </div>
       </center>
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" value="{{customerdetail.1}}" type="text" id="name" name="name" placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" value="{{customerdetail.3}}" id="email" name="email" placeholder="Email..">
                    </div>
                </div>
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" value="{{customerdetail.6}}" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="text" value="{{customerdetail.7}}" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="text" value="{{customerdetail.8}}" name="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="text" value="{{customerdetail.9}}" name="zipcode" placeholder="Post code/Zip code..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="text" value="{{customerdetail.10}}" name="country" placeholder="Country..">
                    </div>
                </div>
            </div>
            <br>
            <div class="box-element" id="payment-info">
                <div class="row">
                    <div class="col-md-12">
                        <label>Would you like to pay in full now, and save <span> <b> £{{discountAmountForFullPayment|floatformat:2}} </b></span> Or you prefer to pay by instalments?.</label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <label>How do you want to pay?</label> <br>
                        <input type="radio" id="rbtnNoDiscount" checked="checked" value="no" name="installmentoption"> Pay in full now (save £{{discountAmountForFullPayment|floatformat:2}})
                        <br>
                        <input type="radio" id="rbtnYesDiscount" value="yes" name="installmentoption"> Prefer to pay by instalments
                        <label id="lblWithInstallment"></label>
                    </div>
                </div>
                <br>
                <a  class="btn btn-success btn-block" style="display:none" id="btnYesContinue" href="{% url 'payment' %}?data=yes">Continue</a>
                <a  class="btn btn-success btn-block" id="btnNoContinue" href="{% url 'payment' %}?data=no">Continue</a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box-element">
               <div class="box-element">
                    <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                    <hr>
                    <h3>Order Summary</h3>
                    <hr>
                    <div class="cart-row">
                        {% comment %}first div is for image{% endcomment %}
                        <div style="flex:1;"></div>
                        &nbsp;<div style="flex:2;"><strong>Item</strong></div>
                        <div style="flex:1;"><strong>Price</strong></div>
                        <div style="flex:1;"><strong>No of user</strong></div>
                        <div style="flex:1;"><strong>Quantity</strong></div>
                    </div>
                   {% for item in items %}
                    <div class="cart-row">

                        {% if item.Product.Image != '' %}
                            <div style="flex:1"><img class="row-image" src="{% static 'productimages/' %}{{item.Product.Image}}"></div>
                        {% else %}
                            <div style="flex:1"><img class="row-image" src="{% static 'images/No_Image.png' %}"></div>
                        {% endif %}
                        &nbsp;<div style="flex:2"><p>{{item.Product.Name}}</p></div>

                        <div class="priceFull" style="flex:1" id="priceForFull"><p>£{{item.get_TotalForAllProduct_ByQuantity|floatformat:2}}</p></div>
<!--                        <div class="priceInstalment" style="flex:1;display:none;" id="priceForInstalment"><p>£{{item.get_TotalForAllProduct_ByQuantity_WithInstallmentPayment|floatformat:2}}</p></div>-->

                        <div style="flex:1"><p>{{item.TotalNoOfPerson}}</p></div>
                        <div style="flex:1"><p>{{item.Quantity}}</p></div>
                    </div>
                   {% endfor %}
                    <br>
                    <h5>Total Items:   {{order.get_TotalCartItems}}</h5>

                    <div>
                        <table class="table" >
                             <tbody class="border-bottom">
                                <tr>
                                    <td width="20%"></td>
                                    <td>
                                        <label id="initialSetup"> Initial setup charge: </label>
                                    </td>
                                    <td>
                                        <span class="col-4">£{{order.get_InitialSetupChargeForAllProducts|floatformat:2}}</span>
                                    </td>
                                </tr>
                                <tr id="amountFullService">
                                    <td></td>
                                    <td>
                                        Amount (Service):
                                    </td>
                                    <td>
                                        <span class="col-4" id="lblTotalService">£{{order.get_CartTotalPriceFor_ServiceWithFullPayment|floatformat:2}}</span>
                                    </td>
                                </tr>
                                {% if order.get_CartTotalPriceFor_ProductWithFullPayment > 0 %}
                                <tr id="amountFullProduct">
                                    <td></td>
                                    <td>
                                        Amount (Product):
                                    </td>
                                    <td>
                                        <span class="col-4" id="lblTotalProduct">£{{order.get_CartTotalPriceFor_ProductWithFullPayment|floatformat:2}}</span>
                                    </td>
                                </tr>
                                {% endif %}
                                <tr id="amountInstall" style="display:none;">
                                    <td></td>
                                    <td>
                                        Amount (instalment):
                                    </td>
                                    <td>
                                        <span class="col-4" id="lblTotalInstallment">£{{order.get_CartTotalPriceForAllProduct_WithInstallmentPayment|floatformat:2}}</span>
                                    </td>
                                </tr>
                                <tr id="subtotal">
                                    <td></td>
                                    <td>
                                        <h4>Subtotal:</h4>
                                    </td>
                                    <td>
                                        <h4><span class="col-4" id="lblSubTotal">£{{order.get_CartTotalPriceForInitialSetupAndProduct|floatformat:2}}</span></h4>
                                    </td>
                                </tr>

                                {% if otherReferralDiscount > 0 %}
                                <tr>
                                    <td></td>
                                    <td>
                                        Referral Discount (Other):
                                    </td>
                                    <td>
                                        <h5> £<label id="lblOtherDiscount">{{otherReferralDiscount|floatformat:2}}</label></h5>
                                    </td>
                                </tr>
                                {% endif %}
                                <tr id="fullAmountDiscount">

                                    <td style="color:green" colspan="2">
                                        <a href="#" ><i class="fa fa-info-circle tooltip">
                                            <span class="tooltiptext">This discount applies for paying amount in full.</span>
                                        </i></a> &nbsp;
                                        <b>Advanced payment discount:</b>
                                    </td>
                                    <td>
                                        -<span class="col-4" style="color:green" id="lblFullPaymentDiscount"><b>£{{discountAmountForFullPayment|floatformat:2}}</b></span>
                                    </td>
                                </tr>

                                <tr  id="totalAmountFull">
                                    <td></td>
                                    <td>
                                       <h3> Total Amount:</h3>
                                    </td>
                                    <td>
                                        <h3><span class="col-4" id="lblTotalAmountFull">£{{totalAmountWithDiscount|floatformat:2}}</span></h3>
                                    </td>
                                </tr>
                                <tr id="totalAmountInstall" style="display:none">
                                    <td></td>
                                    <td>
                                        <h3>Total Amount:</h3>
                                    </td>
                                    <td>
                                        <h3><span class="col-4">£<label id="lblTotalAmountInstall">{{order.get_TotalPrice_WithInstallmentPayment|floatformat:2}}</label></span></h3>
                                    </td>
                                </tr>
                                <tr id="DueAmountInstall" style="display:none">
                                    <td colspan="3">
                                        <label>* Next instalment of £{{item.get_TotalForAllService_WithInstallmentPayment|floatformat:2}} will be due after 30 days from now, followed by
                                            {{item.Product.NoOfInstallmentMonths}} consecutive payments. </label>
                                    </td>
                                </tr>
                                <tr id="InstallOption" style="display:none">
                                    <td colspan="3">
                                        <label>* Instalment can be paid via bank transfer or Credit/Debit card.</label>
                                    </td>
                                </tr>

                             </tbody>
                        </table>
                    </div>
               </div>
            </div>
        </div>
    </div>
    </div>
 </main>
{% endblock content %}
