  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn" style="padding-top: 6rem">



    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/Prolongevity1" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>

      <a href="https://twitter.com/longevity_pro" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>

      <a href="https://www.youtube.com/channel/UCtzbvQ-igGVwv7z0uzQ-FnA" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
       <strong>Copyright &copy; 2014-2019 <a href="https://www.prolongevity.co.uk/">ProLongevity</a>.</strong>
            All rights reserved.
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->