<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="https://images.squarespace-cdn.com/content/v1/5c6581b990f9041e32f89202/1550175593198-6A9V5982JO26L3JBR7MR/ke17ZwdGBToddI8pDm48kLrQnd3tdlQHoi35tdatgzRZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpz8CxRD_lte4BsPmEGGAS09NTjnJO9fCHIuJZFekHsS8VbwhKRHeD_fsBnlJq72u68/favicon.ico?format=100w">
    <title>Welcome to ProLongevity</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">

    <!-- CSS reference from Static folder -->

    <link rel="stylesheet" type="text/css" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- To make sure, this will work on all device. -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getToken('csrftoken');

        function getCookie(name)
        {
            //split cookie string and get all individual name

            var cookieArr = document.cookie.split(";");

            // Loop through the array elements
            for(var i=0; i < cookieArr.length; i++)
            {
                var cookiePair = cookieArr[i].split("+");
                //Removing white space at the beginning of the cookie
                // and compare it with given string
                if(name == cookiePair[0].trim())
                {
                    //Decode the cookie value and return
                    return decodeURIComponent(cookiePair[1]);
                }
            }
            // return null if not found.
            return null;
        }
        var cart = JSON.parse(getCookie('cart'))
        if(cart == undefined)
        {
            cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

        }

    </script>
</head>
<body>

    {% include 'manorpharmacy/navbar.html' %}


    {% block content %}

    {% endblock content %}

    <div>
       <!-- <div class="container">
            <br>

        </div>-->

        <!-- JS, Popper.js, and jQuery -->

        <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>-->
        <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
                integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
                crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/checkout.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ordersummary.js' %}"></script>
    </div>
</body>
</html>