{% extends 'manorpharmacy/main.html' %}
{% load static %}
    {% block content %}

<style>
    .col-md-3{
        display:inline-block;
        margin-left:4px;
    }
    .carousel-indicators .active{
        background-color:blue;
    }

    body .carousel-indicator li{
        background-color: blue;
    }
    body .carousel-control-prev-icon,
    body .carousel-control-next-icon
    {
        background-color:blue;
    }
    .carousel-control-prev,
    .carousel-control-next
    {
        top:auto;
        bottom:auto;
    }
    body .no-padding{
        padding-left:0;
        padding-right:0;
        margin:-5rem;
    }

    body .carousel-indicators{
        bottom:0;
    }

</style>


 <main>
    <div class="container">

{% for products,range,nslides in allProds %}
<div style="margin-top:5rem;">
<div>
    <h4>{{products.0.Category.Name}}</h4> </div>
<div id="demo{{forloop.counter}}" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
    <li data-target="#demo{{forloop.counter}}" data-slide="0" class="active"></li>
    {% for i in range %}
    <li data-target="#demo{{forloop.parentloop.counter}}" data-slide="{{i}}"></li>

    {% endfor %}
</ul>
    <div class="container carousel-inner no-padding">
        <div class="carousel-item active" style="margin-top:5rem;margin-left:6rem;">
            <div class="col-xs-3 col-sm-3 col-md-3">
                <div class="card" style="width:18rem;">
                    {% if products.0.Image != '' %}
                    <img class="thumbnail" src="{% static 'productimages/' %}{{products.0.Image}}">
                    {% else %}
                    <img class="thumbnail" src="{% static 'images/No_Image.png' %}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title"> {{products.0.Name}}</h5>
                         <button data-product="{{products.0.Product_Id}}" data-action="add" class="btn btn-outline-secondary add-button update-cart">Add to Cart</button>
                    &nbsp;&nbsp;   <a href="{% url 'productdetail' products.0.slug %}" target="_self" class="btn btn-outline-success">View</a>

                        <h6>&nbsp;&nbsp;£ </h6>
                        {% if products.0.IsProduct and products.0.IsDiscountable %}
                        <h3>{{products.0.getDiscountedPrice|floatformat:2}}</h3>
                        <s><i><b><h5 style="color:red">{{products.0.Price|floatformat:2}}</h5></b></i></s>
                        {% else %}
                        <div id="TotalAmount1{{products.0.Product_Id}}">
                        <h3>{{products.0.getPriceForInitialSetupAndFullPaymentForOnePerson|floatformat:2}}</h3>
                        </div>
                        <div id="TotalAmountForMultiplePerson1{{products.0.Product_Id}}" style="display:none">
                        <h3>{{products.0.getPriceForInitialSetupAndFullPaymentForMultiplePerson|floatformat:2}}</h3>
                        </div>
                        {% endif %}

                        <br>
                     {% if not product.IsProduct %}
                        <div class="row" style="padding-left:1rem;">
                             <label style="padding-top:5px;">No of Clients: &nbsp; </label>
                            <select style="width:50%;" data-product="{{products.0.Product_Id}}" class="form-control numbers" name="noofusers{{products.0.Product_Id}}" id="noofusers{{products.0.Product_Id}}" >
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <div style="padding-top:1rem;">
                            <div id="accordion">
                                <div class="card card-primary">
                                    <div class="card-header" style="height:40px;padding-top:5px;">
                                        <center>
                                        <h5 class="card-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{products.0.Product_Id}}">
                                            <h6 style="color:blue"> Price breakdown </h6>
                                            </a>
                                        </h5> </center>
                                    </div>
                                    <div id="collapseOne{{products.0.Product_Id}}" class="panel-collapse collapse in">
                                        <br>
                                        <div class="row">
                                            <label id="lblNoOfUser{{products.0.Product_Id}}" style="padding-left:2rem;">(For one person)</label>
                                        </div>
                                        <div class="card-body" id="noOfUserOne{{products.0.Product_Id}}">
                                             <div class="row">
                                                <span class="col-6"><small>Setup charge:</small></span>
                                                 <span class="col-6"><small><b>£{{products.0.InitialSetupCharge|floatformat:2}}</b></small></span>
                                             </div>
                                             <div class="row">
                                                 <span class="col-6"><small>Monthly Instalment:</small></span>
                                                 <span class="col-6"><small><b>{{products.0.NoOfInstallmentMonths}} * £{{products.0.Price|floatformat:2}}</b></small></span>
                                             </div>
                                            <!-- <div class="row">
                                                <span class="col-8">{{product.getIdenticalMonthsOfInstallation}} identical charge of:</span>
                                                 <span class="col-4"><b>£{{product.Price|floatformat:2}}</b></span>
                                             </div>-->
                                        </div>
                                        <div class="card-body" id="noOfUserTwo{{products.0.Product_Id}}" style="display:none;">
                                             <div class="row">
                                                <span class="col-6"><small>Setup charge:</small></span>
    <!--                                                 <span class="col-5"><small><b>£{{products.0.getInitialSetupChargeForMultiplePerson|floatformat:2}}</b> (each)</small></span>-->
                                                 <span class="col-6"><small><b>£{{products.0.InitialSetupCharge|floatformat:2}}</b> (each)</small></span>
                                             </div>
                                             <div class="row">
                                                 <span class="col-6"><small>Monthly charge:</small></span>
                                                 <span class="col-6" style="text-align:right;"> <small><b>{{products.0.NoOfInstallmentMonths}} * £{{products.0.getPriceForMultiplePerson|floatformat:2}} </b></small></span>
                                             </div>
                                            <i>
                                            <div class="row">
                                                <span class="col-6" style="font-size:small">*(For 1st Client:</span>
                                                <span class="col-6" style="font-size:small">£{{products.0.Price|floatformat:2}})</span>
                                             </div>
                                            <div class="row">
                                                <span class="col-6" style="font-size:small">*(For 2nd Client:</span>
                                                <span class="col-6" style="font-size:small">£{{products.0.AdditionalMemberPrice|floatformat:2}})</span>
                                             </div></i>
                                            <!-- <div class="row">
                                                <span class="col-8">{{products.0.getIdenticalMonthsOfInstallation}} identical charge of:</span>
                                                 <span class="col-4"><b>£{{products.0.getPriceForMultiplePerson|floatformat:2}}</b></span>
                                             </div>-->
                                        </div>
                                    </div>
                              </div>
                            </div>
                        </div>

                    {% endif %}

                    </div>

                </div>
            </div>
            {% for prod in products|slice:"1:" %}
                &nbsp;&nbsp;
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="card" style="width:18rem;">
                        {% if prod.Image != '' %}
                        <img class="thumbnail" src="{% static 'productimages/' %}{{prod.Image}}">
                        {% else %}
                        <img class="thumbnail" src="{% static 'images/No_Image.png' %}">
                        {% endif %}
                        <div class="card-body" class="row" style="padding-left:1rem;padding-right:1px;">
                            <h5 class="card-title"> {{prod.Name}}</h5>
                            <button data-product="{{prod.Product_Id}}" data-action="add" class="btn btn-outline-secondary add-button update-cart">Add to Cart</button>
                        &nbsp;&nbsp;   <a href="{% url 'productdetail' prod.slug %}" target="_self" class="btn btn-outline-success">View</a>
                            <h6>&nbsp;&nbsp;£ </h6>
                            {% if prod.IsProduct and prod.IsDiscountable %}
                            <h3>{{prod.getDiscountedPrice|floatformat:2}}</h3>
                            <s><i><b><h5 style="color:red">{{prod.Price|floatformat:2}}</h5></b></i></s>
                            {% else %}
                            <div id="TotalAmount1{{prod.Product_Id}}">
                            <h3>{{prod.getPriceForInitialSetupAndFullPaymentForOnePerson|floatformat:2}}</h3>
                            </div>
                            <div id="TotalAmountForMultiplePerson1{{prod.Product_Id}}" style="display:none">
                            <h3>{{prod.getPriceForInitialSetupAndFullPaymentForMultiplePerson|floatformat:2}}</h3>
                            </div>
                            {% endif %}

                            <br>
                     {% if not prod.IsProduct %}
                        <div class="row" style="padding-left:1rem;">
                             <label style="padding-top:5px;">No of Clients: &nbsp; </label>
                            <select style="width:50%;" data-product="{{prod.Product_Id}}" class="form-control numbers" name="noofusers{{prod.Product_Id}}" id="noofusers{{prod.Product_Id}}" >
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <div style="padding-top:1rem;">
                            <div id="accordion">
                                <div class="card card-primary">
                                    <div class="card-header" style="height:40px;padding-top:5px;">
                                        <center>
                                        <h5 class="card-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{prod.Product_Id}}">
                                            <h6 style="color:blue"> Price breakdown </h6>
                                            </a>
                                        </h5> </center>
                                    </div>
                                    <div id="collapseOne{{prod.Product_Id}}" class="panel-collapse collapse in">
                                        <br>
                                        <div class="row">
                                            <label id="lblNoOfUser{{prod.Product_Id}}" style="padding-left:2rem;">(For one person)</label>
                                        </div>
                                        <div class="card-body" id="noOfUserOne{{prod.Product_Id}}">
                                             <div class="row">
                                                <span class="col-6"><small>Setup charge:</small></span>
                                                 <span class="col-6"><small><b>£{{prod.InitialSetupCharge|floatformat:2}}</b></small></span>
                                             </div>
                                             <div class="row">
                                                 <span class="col-6"><small>Monthly Instalment:</small></span>
                                                 <span class="col-6"><small><b>{{prod.NoOfInstallmentMonths}} * £{{prod.Price|floatformat:2}}</b></small></span>
                                             </div>
                                            <!-- <div class="row">
                                                <span class="col-8">{{prod.getIdenticalMonthsOfInstallation}} identical charge of:</span>
                                                 <span class="col-4"><b>£{{prod.Price|floatformat:2}}</b></span>
                                             </div>-->
                                        </div>
                                        <div class="card-body" id="noOfUserTwo{{prod.Product_Id}}" style="display:none;">
                                             <div class="row">
                                                <span class="col-6"><small>Setup charge:</small></span>
    <!--                                                 <span class="col-5"><small><b>£{{prod.getInitialSetupChargeForMultiplePerson|floatformat:2}}</b> (each)</small></span>-->
                                                 <span class="col-6"><small><b>£{{prod.InitialSetupCharge|floatformat:2}}</b> (each)</small></span>
                                             </div>
                                             <div class="row">
                                                 <span class="col-6"><small>Monthly charge:</small></span>
                                                 <span class="col-6"> <small><b>{{prod.NoOfInstallmentMonths}} * £{{prod.getPriceForMultiplePerson|floatformat:2}} </b></small></span>
                                             </div>
                                            <i>
                                            <div class="row">
                                                <span class="col-6" style="font-size:small">*(For 1st Client:</span>
                                                <span class="col-6" style="font-size:small">£{{prod.Price|floatformat:2}})</span>
                                             </div>
                                            <div class="row">
                                                <span class="col-6" style="font-size:small">*(For 2nd Client:</span>
                                                <span class="col-6" style="font-size:small">£{{prod.AdditionalMemberPrice|floatformat:2}})</span>
                                             </div></i>
                                            <!-- <div class="row">
                                                <span class="col-8">{{product.getIdenticalMonthsOfInstallation}} identical charge of:</span>
                                                 <span class="col-4"><b>£{{product.getPriceForMultiplePerson|floatformat:2}}</b></span>
                                             </div>-->
                                        </div>
                                    </div>
                              </div>
                            </div>
                        </div>

                    {% endif %}

                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:2 and not forloop.last %}
                    </div>
                    <div class="carousel-item" style="margin-top:5rem;margin-left:6rem;">
                {% endif %}

            {% endfor %}
        </div>
        </div>
</div>


<!-- left and right controle  -->

<a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
</a>

<a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
    <span class="carousel-control-next-icon"></span>
</a>
</div>

{% endfor %}
    </div>

    <div class="row" id="dvProductServiceDetails">
        {% for product in products %}
        <div class="col-lg-4" style="height:10%;">
            {% if product.Image != '' %}
                <img class="thumbnail" src="{% static 'productimages/' %}{{product.Image}}">
            {% else %}
                <img class="thumbnail" src="{% static 'images/No_Image.png' %}">
            {% endif %}
            <div class="box-element product" style="width: 90%;">
                <h6><strong>{{product.Name}}</strong></h6>
                <hr>
                <div class="row" style="padding-left:1rem;padding-right:1px;">

                    <button data-product="{{product.Product_Id}}" data-action="add" class="btn btn-outline-secondary add-button update-cart">Add to Cart</button>
                    &nbsp;&nbsp;<a href="" target="_self" class="btn btn-outline-success">View</a>

                    <h6>&nbsp;&nbsp;£ </h6>
                    {% if product.IsProduct and product.IsDiscountable %}
                    <h3>{{product.getDiscountedPrice|floatformat:2}}</h3>
                    <s><i><b><h5 style="color:red">{{product.Price|floatformat:2}}</h5></b></i></s>
                    {% else %}
                    <div id="TotalAmount{{product.Product_Id}}">
                    <h3>{{product.getPriceForInitialSetupAndFullPaymentForOnePerson|floatformat:2}}</h3>
                    </div>
                    <div id="TotalAmountForMultiplePerson{{product.Product_Id}}" style="display:none">
                    <h3>{{product.getPriceForInitialSetupAndFullPaymentForMultiplePerson|floatformat:2}}</h3>
                    </div>
                    {% endif %}

                </div>
                <br>
                 {% if not product.IsProduct %}
                    <div class="row" style="padding-left:1rem;">
                         <label style="padding-top:5px;">No of Clients: &nbsp; </label>
                        <select style="width:50%;" data-product="{{product.Product_Id}}" class="form-control numbers" name="noofusers{{product.Product_Id}}" id="noofusers{{product.Product_Id}}" >
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                    <div class="card-body" style="padding:1rem;">
                        <div id="accordion1">
                            <div class="card card-primary">
                                <div class="card-header" style="height:40px;padding-top:5px;">
                                    <center>
                                    <h5 class="card-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{product.Product_Id}}">
                                        <h6 style="color:blue"> Price breakdown </h6>
                                        </a>
                                    </h5> </center>
                                </div>
                                <div id="collapseOne1{{product.Product_Id}}" class="panel-collapse collapse in">
                                    <br>
                                    <div class="row">
                                        <label id="lblNoOfUser1{{product.Product_Id}}" style="padding-left:2rem;">(For one person)</label>
                                    </div>
                                    <div class="card-body" id="noOfUserOne1{{product.Product_Id}}">
                                         <div class="row">
                                            <span class="col-7"><small>Setup charge:</small></span>
                                             <span class="col-5"><small><b>£{{product.InitialSetupCharge|floatformat:2}}</b></small></span>
                                         </div>
                                         <div class="row">
                                             <span class="col-7"><small>Monthly Instalment:</small></span>
                                             <span class="col-5"><small><b>{{product.NoOfInstallmentMonths}} * £{{product.Price|floatformat:2}}</b></small></span>
                                         </div>
                                        <!-- <div class="row">
                                            <span class="col-8">{{product.getIdenticalMonthsOfInstallation}} identical charge of:</span>
                                             <span class="col-4"><b>£{{product.Price|floatformat:2}}</b></span>
                                         </div>-->
                                    </div>
                                    <div class="card-body" id="noOfUserTwo2{{product.Product_Id}}" style="display:none;">
                                         <div class="row">
                                            <span class="col-7"><small>Setup charge:</small></span>
<!--                                                 <span class="col-5"><small><b>£{{product.getInitialSetupChargeForMultiplePerson|floatformat:2}}</b> (each)</small></span>-->
                                             <span class="col-5"><small><b>£{{product.InitialSetupCharge|floatformat:2}}</b> (each)</small></span>
                                         </div>
                                         <div class="row">
                                             <span class="col-7"><small>Monthly charge:</small></span>
                                             <span class="col-5"> <small><b>{{product.NoOfInstallmentMonths}} * £{{product.getPriceForMultiplePerson|floatformat:2}} </b></small></span>
                                         </div>
                                        <i>
                                        <div class="row">
                                            <span class="col-7" style="font-size:small">*(For 1st Client:</span>
                                            <span class="col-5" style="font-size:small">£{{product.Price|floatformat:2}})</span>
                                         </div>
                                        <div class="row">
                                            <span class="col-7" style="font-size:small">*(For 2nd Client:</span>
                                            <span class="col-5" style="font-size:small">£{{product.AdditionalMemberPrice|floatformat:2}})</span>
                                         </div></i>
                                        <!-- <div class="row">
                                            <span class="col-8">{{product.getIdenticalMonthsOfInstallation}} identical charge of:</span>
                                             <span class="col-4"><b>£{{product.getPriceForMultiplePerson|floatformat:2}}</b></span>
                                         </div>-->
                                    </div>
                                </div>
                          </div>
                        </div>
                    </div>

                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
 </main>
    {% endblock content %}
