{% load cart_template_tags %}
<style>

</style>
  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container-fluid">

      <!-- Brand -->
      <a class="navbar-brand Header-branding" href='/home/'>
        <img src="//static1.squarespace.com/static/5c6581b990f9041e32f89202/t/5e88c460138b9761ef873d95/1594374827805/?format=1500w" alt="Prediabetes | Type 2 Diabetes | Hypertension | Hertfordshire" class="Header-branding-logo">
      </a>


      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
 <!-- Left -->
        <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
            <a class="nav-link waves-effect" href='/home/'>Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/check-out">
            Checkout</a>
          </li>
             <li class="nav-item">
            <a class="nav-link waves-effect" href="#">
            Book Appointment</a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'order-summary' %}" class="nav-link waves-effect">
               <span class="badge red z-depth-1 mr-1" style="background-color: red;color: white;"> {{ request.user | cart_item_count}}  </span>
              <i class="fas fa-shopping-cart" style="color:black !important"></i>
              <span class="clearfix d-none d-sm-inline-block" style="color:black !important"> Cart </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link waves-effect" href="#">
              <span class="clearfix d-none d-sm-inline-block" style="color:black !important"> {{ request.user }} </span>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link waves-effect" href="/Logout">
              <span class="clearfix d-none d-sm-inline-block" style="color:black !important"> Logout </span>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="/login/">
              <span class="clearfix d-none d-sm-inline-block" style="color:black !important"> Login </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="#">
              <span class="clearfix d-none d-sm-inline-block"> Signup </span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

    </div>
  </nav>
  <!-- Navbar -->