{% extends "manorpharmacy/base.html" %}
{% load static %}
{% block content %}
  <main>
    <div class="container">
     <div class="row d-flex justify-content-center">
         <div class="col-1"></div>
        <div class="col-10" style="margin-left:20rem;">
            <ul id="progressbar" class="text-center">
                <li class="active step0"><span class="progress-icon" style="color:black">Order Summary</span></li>
                <li class="step0"><span class="progress-icon" style="color:black">Checkout</span></li>
                <li class="step0"><span class="progress-icon" style="color:black">Payment</span></li>
            </ul>
        </div>
         <div class="col-1"></div>
    </div>

    <div class="table-responsive text-nowrap">
    <h2>Order Summary</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">No of user</th>
            <th scope="col">Initial setup charge</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in orderitems %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.Product.Name }}</td>
            <td>{{ order_item.TotalNoOfPerson }}</td>
            <td>£{{ order_item.getCartItemsInitialSetupCharge |floatformat:2 }}</td>
            <td>£{{ order_item.getCartItemsPrice |floatformat:2 }}</td>
            <td>
                <a href="#" data-product="{{order_item.Product.Product_Id}}" class="update-cart" data-action="remove" ><i class="fas fa-minus mr-2"></i></a>
                <p class="quantity">{{order_item.Quantity}}</p>
                <a href="#" data-product="{{order_item.Product.Product_Id}}" class="update-cart" data-action="add" ><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>£{{ order_item.get_TotalForAllProduct_ByQuantity |floatformat:2 }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href='/home/'>Continue shopping</a>
            </td>
        </tr>

        {% endfor %}

        {% if order.get_CartTotalPriceForInitialSetupAndProduct %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>£{{ order.get_CartTotalPriceForInitialSetupAndProduct }}</b></td>
            <td><b>Total Items: {{order.get_TotalCartItems}}</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='/check-out/'>Proceed to Checkout and claim the discount </a>
            <a class='btn btn-primary float-right' href='/home/'>Continue shopping</a>
            </td>

        </tr>
        {% endif %}
        </tbody>
    </table>

    </div>

    </div>
  </main>

{% endblock content %}


