{% extends 'manorpharmacy/main.html' %}
{% load static %}

{% block content %}
 <main>
    <div class="container" style="margin-top:5rem;">
   <div class="row d-flex justify-content-center">
        <div class="col-12">
            <ul id="progressbar" class="text-center">
                <li class="active step0"><span class="progress-icon" style="color:black">Cart</span></li>
                <li class="active step0"><span class="progress-icon" style="color:black">Checkout</span></li>
                <li class="active step0"><span class="progress-icon" style="color:black">Payment</span></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
             <div id="form">
                  {% csrf_token %}
            <div class="box-element" id="payment-info">

                    <div id="shipping-info" hidden>
                         <input required class="form-control" hidden type="email" value="{{customerdetail.3}}" id="email" name="email" placeholder="Email..">
                        <div class="form-field">
                            <input class="form-control" type="text" value="{{customerdetail.6}}" name="address" placeholder="Address..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="text" value="{{customerdetail.7}}" name="city" placeholder="City..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="text" value="{{customerdetail.8}}" name="state" placeholder="State..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="text" value="{{customerdetail.9}}" name="zipcode" placeholder="Post code/Zip code..">
                        </div>
                        <div class="form-field">
                            <input required class="form-control" type="text" value="{{customerdetail.10}}" name="country" placeholder="Country..">
                        </div>
                    </div>
                {% if IsServiceExists %}
                <div id="ServiceDiscount">
                    <div class="row">
                        <div class="col-md-10" >
                            <label>Please enter service discount code <i>(if applicable)</i> </label><br>
                                <i>*(This is additional)</i> <br>
                        </div>
                    </div> <br>
                    <div class="row">
                        <div class="col-md-5">
                            <input class="textInput form-control" id="discountCodeForService" type="text" value="" autocomplete="off"
                                    name="discountCode" @placeholder="Enter service discount code"><br>
                        </div>
                        <div class="col-md-5">
                              <a  class="btn btn-success btn-block" id="btnApplyServiceDiscount">Apply</a>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-md-12">
                            <span id="spnDiscountSuccessForService" style="color:green;display:none"> Your discount code has been applied successfully.</span>
                            <span id="spnDiscountFailForService" style="color:red;display:none"> Incorrect discount code...!</span>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if IsProductExists %}
                <div id="ProductDiscount">
                    <div class="row">
                        <div class="col-md-10" >
                            <label>Please enter product discount code <i>(if applicable)</i> </label><br>
                                <i>*(This is additional)</i> <br>
                        </div>
                    </div> <br>
                     <div class="row">
                        <div class="col-md-5">
                            <input class="textInput form-control" id="discountCodeForProduct" type="text" value="" autocomplete="off"
                                    name="discountCode" @placeholder="Enter product discount code"><br>
                        </div>
                        <div class="col-md-5">
                              <a  class="btn btn-success btn-block" id="btnApplyProductDiscount">Apply</a>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-md-12">
                            <span id="spnDiscountSuccessForProduct" style="color:green;display:none"> Your discount code has been applied successfully.</span>
                            <span id="spnDiscountFailForProduct" style="color:red;display:none"> Incorrect discount code...!</span>
                        </div>
                    </div>
                </div>
                {% endif %}
                <br>


                <h3>Select payment method</h3>
                <div>
                    <input type="radio" id="rbtnBankTransfer" value="Cash" name="paymentoption"> Bank Transfer <br>
                    <input type="radio" id="rbtnCard" checked="checked" value="Card" name="paymentoption"> Debit/Credit Card
                </div>
                <br>
                <form class="takepayments-form" hidden id="takepayments-payment-form" name="takepayments-payment-form" target="_self" method="POST" style="display: block;" action="https://mms.tponlinepayments2.com/Pages/PublicPages/PaymentForm.aspx">
                {% csrf_token %}
                    <div id="dvPayment" hidden>
                     <div class="row">
                        <div class="col-sm-6">
                          <ul>
                            <li><strong>MID:</strong> {{ index_context.merch_mid }}</li>
                            <li><strong>Password:</strong> {{ index_context.merch_password }}</li>
                            <li><strong>Preshared Key:</strong> {{ index_context.merch_presharedkey }}</li>
                          </ul>
                        </div>
                        <div class="col-sm-6">
                          <ul>
                            <li><strong>Hash Method:</strong> {{ index_context.merch_hashmethod }}</li>
                            <li><strong>Result Delivery Method:</strong> {{ index_context.merch_resultdeliverymethod }}</li>
                            <li><strong>Transaction Type:</strong> {{ index_context.merch_transactiontype }}</li>
                          </ul>
                        </div>
                     </div>
                     <input type="text" title="Merchant ID" name="MerchantID" value="{{ index_context.merch_mid }}">
                      <input type="text" title="Amount" name="Amount" value="{{ index_context.merch_amt }}">
                      <input type="text" title="Currency Code" name="CurrencyCode" value="{{ index_context.merch_currencycode }}">
                      <input type="text" title="Order ID" name="OrderID" value="{{ index_context.merch_orderid }}">
                      <input type="text" title="Transaction Type" name="TransactionType" value="{{ index_context.merch_transactiontype }}">
                      <input type="text" title="Transaction Date & Time" name="TransactionDateTime" value="{{ index_context.merch_transactiondatetime }}">
                      <input type="text" title="Order Description" name="OrderDescription" value="{{ index_context.merch_orderdesc }}">
                      <input type="text" title="Customer Name" name="CustomerName" value="{{ index_context.merch_customername }}">
                      <input type="text" title="Address 1" name="Address1" value="{{ index_context.merch_address1 }}">
                      <input type="text" title="Address 2" name="Address2" value="{{ index_context.merch_address2 }}">
                      <input type="text" title="Address 3" name="Address3" value="{{ index_context.merch_address3 }}">
                      <input type="text" title="Address 4" name="Address4" value="{{ index_context.merch_address4 }}">
                      <input type="text" title="City" name="City" value="{{ index_context.merch_city }}">
                      <input type="text" title="State" name="State" value="{{ index_context.merch_state }}">
                      <input type="text" title="Post Code" name="PostCode" value="{{ index_context.merch_postcode }}">
                      <input type="text" title="Country Code" name="CountryCode" value="{{ index_context.merch_countrycode }}">
                      <input type="text" title="Hash Method" name="HashMethod" value="{{ index_context.merch_hashmethod }}">
                      <input type="text" title="Callback URL" name="CallbackURL" value="{{ index_context.merch_callbackurl }}">
                      <input type="text" title="AVS Check Result" name="EchoAVSCheckResult" value="{{ index_context.merch_echoavs }}">
                      <input type="text" title="CV2 Chec kResult" name="EchoCV2CheckResult" value="{{ index_context.merch_echocv2 }}">
                      <input type="text" title="ThreeD Secure Authentication CheckResult" name="EchoThreeDSecureAuthenticationCheckResult" value="{{ index_context.merch_echothreed }}">
                      <input type="text" title="EchoCardType" name="EchoCardType" value="{{ index_context.merch_echocardtype }}">
                      <input type="text" title="CV2 Mandatory" name="CV2Mandatory" value="{{ index_context.merch_cv2mandatory }}">
                      <input type="text" title="Address1 Mandatory" name="Address1Mandatory" value="{{ index_context.merch_address1mandatory }}">
                      <input type="text" title="City Mandatory" name="CityMandatory" value="{{ index_context.merch_citymandatory }}">
                      <input type="text" title="Post Code Mandatory" name="PostCodeMandatory" value="{{ index_context.merch_postcodemandatory }}">
                      <input type="text" title="State Mandatory" name="StateMandatory" value="{{ index_context.merch_statemandatory }}">
                      <input type="text" title="Country Mandatory" name="CountryMandatory" value="{{ index_context.merch_countrymandatory }}">
                      <input type="text" title="Result Delivery Method" name="ResultDeliveryMethod" value="{{ index_context.merch_resultdeliverymethod }}">
                      <input type="text" title="Server Result URL" name="ServerResultURL" value="{{ index_context.merch_serverresulturl }}">
                      <input type="text" title="Payment Form Displays Result" name="PaymentFormDisplaysResult" value="{{ index_context.merch_paymentformsdisplaysresult }}">
                      <input type="text" title="Server Result URL Cookie Variables" name="ServerResultURLCookieVariables" value="{{ index_context.merch_serverresulturlcookievariables }}">
                      <input type="text" title="Server Result URL Form Variables" name="ServerResultURLFormVariables" value="{{ index_context.merch_serverresulturlformvariables }}">
                      <input type="text" title="Server Result URL Query String Variables" name="ServerResultURLQueryStringVariables" value="{{ index_context.merch_serverresulturlquerystringvariables }}">
                      <input type="text" title="Hash Digest" name="HashDigest" value="{{ index_context.merch_hashdigest }}">

                </div>
                <br>
                <div class="box-element">
                    <input class="btn btn-success btn-block" type="submit" name="debug_submit" id = "formSubmit" value="submit">
                </div>
                </form>
                <div id="cardPaymentDetails" class="box-element">
                    <p>Card Details:</p>
                        <hr>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input class="textInput form-control" id="cardName" type="text" value="" name="cardName"@ placeholder="Name On Card">
                                </div> <br>
                                <div class="col-lg-6">
                                    <input class="textInput form-control" minlength="14" maxlength="14" id="cardNumber" type="number" value="" name="name"@ placeholder="Card Number">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <select class="form-control" name="month" id="month" >
                                        <option value="0">- Expiry Month -</option>
                                        <option value="1">01</option>
                                        <option value="2">02</option>
                                        <option value="3">03</option>
                                        <option value="4">04</option>
                                        <option value="5">05</option>
                                        <option value="6">06</option>
                                        <option value="7">07</option>
                                        <option value="8">08</option>
                                        <option value="9">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <select class="form-control" name="year" id="year" >
                                            <option value="0"> - Expiry Year -</option>
                                        {% for year in yearLimit %}
                                            <option value="{{forloop.counter}}">{{year}}</option>
                                        {%  endfor %}
                                    </select>
                                </div>
                                <div class="col-lg-4">
                                    <input class="textInput form-control" minlength="3" maxlength="3" id="cvv" type="number" value="" name="cardcvv"@ placeholder="Enter cvv">
                                </div>
                            </div>
                        </div>
                </div>
                <br>
                <input id="btnProceedToPayment" type="submit" class="btn btn-success btn-block" value="Proceed to Payment">
            </div>
         </div>
        </div>
        <div class="col-lg-6">
            <div class="box-element">
               <div class="box-element">
                    <a  class="btn btn-outline-dark" href="{% url 'checkout' %}">&#x2190; Back to Checkout</a>
                    <hr>
                    <h3>Order Summary</h3>
                    <hr>
                    <div class="cart-row">
                        {% comment %}first div is for image{% endcomment %}
                        <div style="flex:1;"></div>
                        &nbsp;<div style="flex:2;"><strong>Item</strong></div>
                        <div style="flex:1;"><strong>Price</strong></div>
                        <div style="flex:1;"><strong>No of user</strong></div>
                        <div style="flex:1;"><strong>Quantity</strong></div>
                    </div>

                   <div id="dvProductDetails" hidden>"{{items|safe}}"</div>
                   {% for item in items %}
                    <div class="cart-row" >
                         {% if item.Product.Image != '' %}
                            <div style="flex:1"><img class="row-image" src="{% static 'productimages/' %}{{item.Product.Image}}"></div>
                        {% else %}
                            <div style="flex:1"><img class="row-image" src="{% static 'images/No_Image.png' %}"></div>
                        {% endif %}
                        &nbsp;<div style="flex:2"><p>{{item.Product.Name}}</p></div>
                        {% if discountAmountForFullPayment > 0 %}
                        <div style="flex:1" id="priceForFull"><p>£{{item.get_TotalForAllProduct_ByQuantity|floatformat:2}}</p></div>
                        {% else %}
                        <div style="flex:1" id="priceForInstalment" ><p>£{{item.get_TotalForAllProduct_ByQuantity_WithInstallmentPayment|floatformat:2}}</p></div>
                        {% endif %}
                        <div style="flex:1"><p>{{item.TotalNoOfPerson}}</p></div>
                        <div style="flex:1"><p>{{item.Quantity}}</p></div>
                    </div>
                   {% endfor %}
                   <br>

                   <h5>Items:   {{order.get_TotalCartItems}}</h5>

                   <div>
                        <table class="table">
                             <tbody class="border-bottom">
                                <tr>
                                    <td width="20%"></td>
                                    <td>
                                        Initial setup charge:
                                    </td>
                                    <td>
                                        <span class="col-4">£{{order.get_InitialSetupChargeForAllProducts|floatformat:2}}</span>
                                    </td>
                                </tr>
                                 {% if discountAmountForFullPayment > 0 %}
                               <tr id="amountFullService">
                                    <td></td>
                                    <td>
                                        Amount (Service):
                                    </td>
                                    <td>
                                        <span class="col-4" id="lblTotalService">£{{order.get_CartTotalPriceFor_ServiceWithFullPayment|floatformat:2}}</span>
                                    </td>
                                </tr>


                                {% endif %}
                                {% if order.get_CartTotalPriceFor_ProductWithFullPayment > 0 %}
                                <tr id="amountFullProduct">
                                    <td></td>
                                    <td>
                                        Amount (Product):
                                    </td>
                                    <td>
                                        <span class="col-4">£<label id="lblTotalProduct">{{order.get_CartTotalPriceFor_ProductWithFullPayment|floatformat:2}}</label></span>
                                    </td>
                                </tr>
                                {% endif %}

                                {% if otherReferralDiscount > 0 %}
                                <tr>
                                    <td></td>
                                    <td>
                                        Referral Discount (Other):
                                    </td>
                                    <td>
                                        <h5> £<label id="lblOtherDiscount">{{otherReferralDiscount|floatformat:2}}</label></h5>
                                    </td>
                                </tr>
                                {% endif %}
                                {% if discountAmountForFullPayment > 0 %}
                                <tr id="subtotal">
                                    <td></td>
                                    <td>
                                        <h4>Subtotal:</h4>
                                    </td>
                                    <td>
                                        <h4><span class="col-4" id="lblSubTotal">£{{order.get_CartTotalPriceForInitialSetupAndProduct|floatformat:2}}</span></h4>
                                    </td>
                                </tr>
                                {% endif %}
                                {% if discountAmountForFullPayment > 0 %}
                                 <tr  id="fullAmountDiscount">
                                    <td ><a href="#" style="float:right;"><i class="fa fa-info-circle tooltip">
                                            <span class="tooltiptext">This discount applies for paying amount in full.</span>
                                        </i></a></td>
                                    <td style="color:green">
                                        <b>Advanced payment discount:</b>
                                    </td>
                                    <td style="color:green;font-weight:bold;">
                                        -<span class="col-4" style="color:green;font-weight:bold;">£
                                        <label style="color:green" id="lblFullPaymentDiscount"><b>{{discountAmountForFullPayment|floatformat:2}}</b>
                                        </label></span>
                                    </td>
                                </tr>
                                {% endif %}
                                <tr id="dvServiceDiscount" style="display:none">
                                    <td>
                                         <a href="#" style="float:right;"><i class="fa fa-info-circle tooltip">
                                            <span class="tooltiptext">This is an extra discount of applying discount code.</span>
                                        </i></a>
                                    </td>
                                    <td style="color:green;">
                                        <b>Discount (service(s)):</b>
                                    </td>
                                    <td  style="color:green;font-weight:bold;">
                                        -<span class="col-4" style="color:green;font-weight:bold;">£
                                        <label id="lblServiceDiscount" style="color:green;font-weight:bold;">{{0|floatformat:2}}
                                        </label></span>
                                        <label id="lblServiceDiscountPercentage" hidden></label>
                                        <label id="lblServiceDiscountId" hidden></label>
                                    </td>
                                </tr>
                                <tr id="dvProductDiscount" style="display:none">
                                    <td>
                                         <a href="#" style="float:right;"><i class="fa fa-info-circle tooltip">
                                            <span class="tooltiptext">This is an extra discount of applying discount code.</span>
                                        </i></a>
                                    </td>
                                    <td style="color:green;font-weight:bold;">
                                        <b>Discount (product(s)):</b>
                                    </td>
                                    <td  style="color:green;font-weight:bold;">
                                        -<span class="col-4" style="color:green;font-weight:bold;">£
                                        <label id="lblProductDiscount" style="color:green;font-weight:bold;">{{0|floatformat:2}}</label></span>
                                        <label id="lblProductDiscountPercentage" hidden></label>
                                    </td>
                                </tr>
                                <tr id="totalAmountFull" style="color:green;">
                                    <td></td>
                                    <td>
                                        <h3>Total Amount:</h3>
                                    </td>
                                    <td style="padding-right:0rem;">
                                        <h3><span class="col-4">£<label id="lblTotalAmountFull">{{totalwithDiscount|floatformat:2}}</label></span></h3>
                                    </td>
                                </tr>

                                {% if discountAmountForFullPayment <= 0 %}
                                <tr id="DueAmountInstall">
                                    <td colspan="3">
                                         <label>* Next instalment of £{{order.get_PendingServiceCharge_WithInstallmentPayment|floatformat:2}} will be due after 30 days from now, followed by
                                            {{order.getNumberofInstalment}} consecutive payments. </label>
                                    </td>
                                </tr>
                                <tr id="InstallOption">
                                    <td colspan="3">
                                        <label>* Instalment can be paid via bank transfer or Credit/Debit card.</label>
                                    </td>
                                </tr>
                                {% endif %}
                             </tbody>
                        </table>
                   </div>


                   <!-- <h5>Initial setup charge: £{{order.get_InitialSetupChargeForAllProducts|floatformat:2}}</h5>-->
                    <div id="dvDiscount1" style="display:none"><h5><span style="color:red">Discount:  £<label id="lblDiscount2">{{totalwithDiscount|floatformat:2}}</label></span></h5></div>

                   {% if discountOnProduct > 0 %}
                    <h5 style="color:red">Discount on product: £<label id="lblDiscountOfProduct">{{discountOnProduct|floatformat:2}}</label></h5>
                   {% endif %}

                   {% if customerPersonalDiscountAmount > 0 %}
                    <h5 style="color:red">Customer discount: £<label id="lblCustPersonalDiscount">{{customerPersonalDiscountAmount|floatformat:2}}</label></h5>
                   {% endif %}


               </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var total = '{{order.get_CartTotalPriceForAllProduct_WithFullPayment}}'
        //if(user != 'AnonymousUser')
        //{
          //  document.getElementById('user-info').innerHTML = ''
        //}

        var form = document.getElementById('form')
        var csrftoken = form.getElementsByTagName("input")[0].value

    </script>
    </div>
 </main>
{% endblock content %}
