{% extends "manorpharmacy/base.html" %}


{% block content %}

  <main>
      <div class="container wow fadeIn">

          <div class="row d-flex justify-content-center">
             <div class="col-1"></div>
            <div class="col-10" style="margin-left:20rem;">
                <ul id="progressbar" class="text-center">
                    <li class="active step0"><span class="progress-icon" style="color:black">Order Summary</span></li>
                    <li class="active step0"><span class="progress-icon" style="color:black">Checkout</span></li>
                    <li class=" active step0"><span class="progress-icon" style="color:black">Payment</span></li>
                </ul>
            </div>
             <div class="col-1"></div>
          </div>

       <div class="row">
        <div class="col-md-7 mb-4">
          <div class="card">

        <div style="padding-left:1rem;padding-top:1rem;">
              <h3>Discount </h3>

              <div class='hideable_shipping_form'>
                    {% if IsServiceExists %}
                    <div id="ServiceDiscount">
                        <div class="row">
                            <div class="col-md-10" >
                                <label>Please enter service discount code <i>(if applicable)</i> </label><br>
                                    <i>*(This is additional)</i> <br>
                            </div>
                        </div> <br>
                        <div class="row">
                            <div class="col-md-5">
                                <input class="textInput form-control" id="discountCodeForService" type="text" value="" autocomplete="off"
                                        name="discountCode" @placeholder="Enter service discount code"><br>
                            </div>
                            <div class="col-md-5">
                                  <a style="background-color:darkviolet!important;color:white;font-weight:bold;" class="btn btn-success btn-block" id="btnApplyServiceDiscount">Apply</a>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-md-12">
                                <span id="spnDiscountSuccessForService" style="color:green;display:none"> Your discount code has been applied successfully.</span>
                                <span id="spnDiscountFailForService" style="color:red;display:none"> Incorrect discount code...!</span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if IsProductExists %}
                    <div id="ProductDiscount">
                        <div class="row">
                            <div class="col-md-10" >
                                <label>Please enter product discount code <i>(if applicable)</i> </label><br>
                                    <i>*(This is additional)</i> <br>
                            </div>
                        </div> <br>
                         <div class="row">
                            <div class="col-md-5">
                                <input class="textInput form-control" id="discountCodeForProduct" type="text" value="" autocomplete="off"
                                        name="discountCode" @placeholder="Enter product discount code"><br>
                            </div>
                            <div class="col-md-5">
                                  <a style="background-color:darkviolet!important;color:white;font-weight:bold;" class="btn btn-success btn-block" id="btnApplyProductDiscount">Apply</a>
                            </div>
                        </div>
                        <div class="row">
                             <div class="col-md-12">
                                <span id="spnDiscountSuccessForProduct" style="color:green;display:none"> Your discount code has been applied successfully.</span>
                                <span id="spnDiscountFailForProduct" style="color:red;display:none"> Incorrect discount code...!</span>
                            </div>
                        </div>
                    </div>
                    {% endif %}
              </div>

              <hr>

              <h3>Payment option</h3>
            <form method="POST" class="card-body">
              {% csrf_token %}
                     <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="rbtnBankTransfer" value="Cash" name="paymentoption"> Bank Transfer <br>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="rbtnCard" checked="checked" value="Card" name="paymentoption"> Debit/Credit Card
                        </div>
                     </div>
                     <div class="box-element" id="payment-info">
                    <div id="cardPaymentDetails" class="box-element">
                        <p>Card Details:</p>
                            <hr>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input class="textInput form-control" id="cardName" type="text" value="" name="cardName"@ placeholder="Name On Card">
                                    </div> <br>
                                    <div class="col-lg-6">
                                        <input class="textInput form-control" minlength="14" maxlength="14" id="cardNumber" type="number" value="" name="name"@ placeholder="Card Number">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <select class="form-control" name="month" id="month" >
                                            <option value="0">- Expiry Month -</option>
                                            <option value="1">01</option>
                                            <option value="2">02</option>
                                            <option value="3">03</option>
                                            <option value="4">04</option>
                                            <option value="5">05</option>
                                            <option value="6">06</option>
                                            <option value="7">07</option>
                                            <option value="8">08</option>
                                            <option value="9">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <select class="form-control" name="year" id="year" >
                                                <option value="0"> - Expiry Year -</option>
                                            {% for year in yearLimit %}
                                                <option value="{{forloop.counter}}">{{year}}</option>
                                            {%  endfor %}
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <input class="textInput form-control" minlength="3" maxlength="3" id="cvv" type="number" value="" name="cardcvv"@ placeholder="Enter cvv">
                                    </div>
                                </div>
                            </div>
                    </div>
                    <br>
                      <input id="btnProceedToPayment" type="submit" style="background-color:#32325d;font-weight:bold;" class="btn btn-success btn-block" value="Proceed to Payment">

                    </div>
            </form>
        </div>

          </div>

        </div>

        <div class="col-md-5 mb-4">
            <a  class="btn btn-outline-dark" href="{% url 'check-out' %}">&#x2190; Back to Checkout</a>
                    <hr>
          <div class="col-md-12 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">{{ order.get_TotalCartItems }}</span>
            </h4>
            <ul class="list-group mb-3 z-depth-1">
            {% for order_item in orderitems %}
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                <h6 class="my-0">{{ order_item.Quantity }} x {{ order_item.Product.Name}}</h6>
                </div>
                <span class="text-muted">${{ order_item.get_TotalForAllProduct_ByQuantity|floatformat:2 }}</span>
            </li>
            {% endfor %}

                <br>

                <li class="list-group-item d-flex justify-content-between">
                    <table class="table" >
                         <tbody>
                            <tr>
                                <td>
                                    <label id="initialSetup"> Initial setup charge: </label>
                                </td>
                                <td style="float:right;">
                                    <span class="col-4">£{{order.get_InitialSetupChargeForAllProducts|floatformat:2}}</span>
                                </td>
                            </tr>
                             {% if discountAmountForFullPayment > 0 %}
                            <tr id="amountFullService">
                                <td>
                                    Amount (Service):
                                </td>
                                <td style="float:right;">
                                    £<span class="col-4" id="lblTotalService">{{order.get_CartTotalPriceFor_ServiceWithFullPayment|floatformat:2}}</span>
                                </td>
                            </tr>
                            <tr id="amountFullServiceDistributionForFirstPerson">
                            <td>
                               <small><i> *(For 1st Client: </i></small>
                            </td>
                            <td style="float:right;">
                                <small><i><span class="col-4" id="lblTotalServiceForFirstPerson">£{{order.get_CartTotalQuantityFor_OnePerson_ServiceWithFullPayment}} x {{order.get_CartTotalPriceFor_OnePerson_ServiceWithFullPayment|floatformat:2}})</span>
                                </i></small>
                            </td>
                        </tr>
                        <tr id="amountFullServiceDistributionTwoFirstPerson">
                            <td>
                               <small> <i>*(For 2nd Client:</i> </small>
                            </td>
                            <td style="float:right;">
                                <small><i><span class="col-4" id="lblTotalServiceForSecondPerson">£{{order.get_CartTotalQuantityFor_TwoPerson_ServiceWithFullPayment}} x {{order.get_CartTotalPriceFor_TwoPerson_ServiceWithFullPayment|floatformat:2}})</span>
                                </i></small>
                            </td>
                        </tr>
                            {% endif %}
                            {% if order.get_CartTotalPriceFor_ProductWithFullPayment > 0 %}
                            <tr id="amountFullProduct">
                                <td>
                                    Amount (Product):
                                </td>
                                <td style="float:right;">
                                    £<span class="col-4" id="lblTotalProduct">{{order.get_CartTotalPriceFor_ProductWithFullPayment|floatformat:2}}</span>
                                </td>
                            </tr>
                            {% endif %}

                            {% if discountAmountForFullPayment > 0 %}
                            <tr id="subtotal">
                                <td>
                                    <h4>Subtotal:</h4>
                                </td>
                                <td style="float:right;">
                                    <h4><span class="col-4" id="lblSubTotal">£{{order.get_CartTotalPriceForInitialSetupAndProduct|floatformat:2}}</span></h4>
                                </td>
                            </tr>
                            {% endif %}

                            {% if otherReferralDiscount > 0 %}
                            <tr>
                                <td>
                                    Referral Discount (Other):
                                </td>
                                <td style="float:right;">
                                    <h5> £<label id="lblOtherDiscount">{{otherReferralDiscount|floatformat:2}}</label></h5>
                                </td>
                            </tr>
                            {% endif %}
                            {% if discountAmountForFullPayment > 0 %}
                            <tr id="fullAmountDiscount">

                                <td style="color:green">
                                    <a href="#" ><i class="fa fa-info-circle tooltip">
                                        <span class="tooltiptext">This discount applies for paying amount in full.</span>
                                    </i></a>
                                    <b style="font-size:x-small;">Advanced payment discount:</b>
                                </td>
                                <td style="float:right;">
                                    -<span class="col-4" style="color:green" id="lblFullPaymentDiscount"><b>£{{discountAmountForFullPayment|floatformat:2}}</b></span>
                                </td>
                            </tr>
                            {% endif %}
                             <tr id="dvServiceDiscount" style="display:none">
                                <td style="color:green;">
                                     <a href="#"><i class="fa fa-info-circle tooltip">
                                        <span class="tooltiptext">This is an extra discount of applying discount code.</span>
                                    </i></a>
                                    <b style="font-size:x-small;">Discount (service(s)):</b>
                                </td>
                                <td  style="color:green;font-weight:bold;float:right;">
                                    -£
                                    <label id="lblServiceDiscount" style="color:green;font-weight:bold;">{{0|floatformat:2}}
                                    </label>
                                    <label id="lblServiceDiscountPercentage" hidden></label>
                                    <label id="lblServiceDiscountId" hidden></label>
                                </td>
                            </tr>
                             <tr id="dvProductDiscount" style="display:none">
                                <td style="color:green;font-weight:bold;">
                                     <a href="#"><i class="fa fa-info-circle tooltip">
                                        <span class="tooltiptext">This is an extra discount of applying discount code.</span>
                                    </i></a>
                                    <b style="font-size:x-small;">Discount (product(s)):</b>
                                </td>
                                <td  style="color:green;font-weight:bold;float:right;">
                                    -£
                                    <label id="lblProductDiscount" style="color:green;font-weight:bold;">{{0|floatformat:2}}</label>
                                    <label id="lblProductDiscountPercentage" hidden></label>
                                </td>
                            </tr>
                            <tr id="totalAmountFull">
                                <td>
                                   <h3>Total:</h3>
                                </td>
                                <td style="float:right;">
                                    <h3><span class="col-4">£<label id="lblTotalAmountFull">{{totalwithDiscount|floatformat:2}}</label></span></h3>
                                    <label id="lblActualAmount" hidden>{{order.get_CartTotalPriceForInitialSetupAndProduct|floatformat:2}}</label>
                                </td>
                            </tr>
                           {% if discountAmountForFullPayment <= 0 %}
                            <tr id="DueAmountInstall">
                                <td colspan="2">
                                    <label>* Next instalment of £{{order.get_PendingServiceCharge_WithInstallmentPayment|floatformat:2}} will be due after 30 days from now, followed by
                                        {{order.Product.NoOfInstallmentMonths}} consecutive payments. </label>
                                </td>
                            </tr>
                            <tr id="InstallOption">
                                <td colspan="2">
                                    <label>* Instalment can be paid via bank transfer or Credit/Debit card.</label>
                                </td>
                            </tr>
                            {% endif %}
                         </tbody>
                    </table>
                </li>
            </ul>

            </div>
        </div>

      </div>
    </div>
  </main>

{% endblock content %}