{% extends 'manorpharmacy/main.html' %}
{% load static %}
{% block content %}
<!--Main layout-->
 <main>
    <div class="container" style="margin-top:5rem;">
    <!-- Default box -->
  <div class="card card-solid">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="col-12">
                 {% if product.Image != '' %}
                    <img class="product-image" src="{% static 'productimages/' %}{{object.Image}}">
                {% else %}
                    <img class="product-image" src="{% static 'images/No_Image.png' %}">
                {% endif %}
              </div>

            </div>
            <div class="col-12 col-sm-6">
              <h3 class="my-3">{{object.Name}}</h3>

              <hr>

              <div class="bg-gray py-2 px-3 mt-4">
                <h2 class="mb-0">
                  £{{object.Price|floatformat:2}}
                </h2>
              </div>

              <div class="mt-4">
                <div data-product="{{object.Product_Id}}" data-action="add"  class="btn btn-primary btn-lg btn-flat add-button update-cart">
                  <i class="fas fa-cart-plus fa-lg mr-2"></i>
                  Add to Cart
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <nav class="w-100">
              <div class="nav nav-tabs" id="product-tab" role="tablist">
                <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Description</a>
               <!-- <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">Comments</a>
                <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="false">Rating</a>-->
              </div>
            </nav>
            <div class="tab-content p-3" id="nav-tabContent">
              <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">
              {{object.Description}}
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
 </main>
{% endblock content %}
