{% extends 'webecommerce/myaccount/plan.html' %}

{% block plan_content %}

  <div class="container">
      <div class="card">
      <h2 class="my-3 h2 text-center">My Orders</h2>
      <div class="col-md-12 mb-12 mb-md-0">
            <div class="p-3 border">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group input-group-sm">
                            <label>Search by Order#: &nbsp; </label>
                            <input type="text" class="form-control" width="100%" id="txtSearchByOrderNumForMyOrders" placeholder="Enter Order Number..." name="txtSearchByOrderNumForMyOrders">
                        </div>
                    </div>
                </div>
            </div>
      </div>
        <br>
      <div class="row">
          <div class="col-12">
                <div class="card">
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap" id="tblOrderDetails">
                              <thead>
                                    <tr>
                                        <th >#</th>
                                        <th>Order Date</th>
                                        <th width="10%">Amount To Pay</th>
                                        <th width="10%">Full Payment Discount</th>
                                        <th>Payment Method</th>
                                        <th>Payment Status</th>
                                        <th></th>
                                    </tr>
                              </thead>
                              <tbody>
                               {% for plan in plans %}
                                <tr>
                                    <td>{{ plan.0 }}</td>
                                    <td>{{ plan.1 }}</td>
                                    <td style="text-align:right;">£{{ plan.2 |floatformat:2 }}</td>
                                    <td style="text-align:right;">£{{ plan.3 |floatformat:2 }}</td>
                                    <td>{{ plan.4 }}</td>
                                    <td>{{ plan.5 }}</td>
                                    <td title="Click to view details">
                                        <a href="{% url 'plandetail' plan.0 %}"  class="btn btn-outline-primary" style="color:blue;">
                                            <i class="fas fa-align-justify"></i> &nbsp; View Details
                                        </a>
                                    </td>
                                </tr>
                              {% endfor %}
                              </tbody>
                        </table>
                    </div>
                </div>
          </div>
      </div>
      </div>
  </div>

{% endblock plan_content %}
