{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a href="/" class="navbar-brand Header-branding" href="{% url 'dashboard' %}">
        <img src="//static1.squarespace.com/static/5c6581b990f9041e32f89202/t/5e88c460138b9761ef873d95/1594374827805/?format=1500w" alt="Prediabetes | Type 2 Diabetes | Hypertension | Hertfordshire" class="Header-branding-logo">
      </a>
  <button class="navbar-toggler-admin" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link nav-link-admin" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-admin" href="#">Products</a>
      </li>
    </ul>
  </div>
</nav>