<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

            <div class="block-7">
              <h3 class="footer-heading mb-4">About Us</h3>
              <p>
                ProLongevity involves a careful analysis of what triggers YOU to experience blood-sugar spikes. The ProLongevity service involves attaching a continuous glucose monitor, or CGM, to your arm. We monitor the results via an app, which makes correlations between your diet and blood sugar levels. We analyse those results. After two weeks’ monitoring we can establish which foods are healthy for an individual and which are not. We then recommend a set of sustainable lifestyle adjustments.
              </p>
            </div>

          </div>
          <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
            <h3 class="footer-heading mb-4">Quick Links</h3>
            <ul class="list-unstyled">
              <li><a href="https://www.prolongevity.co.uk/new-folder">Overview</a></li>
              <li><a href="https://www.prolongevity.co.uk/prolongevity-whattoexpect">Programme</a></li>
              <li><a href="https://www.prolongevity.co.uk/science">Science</a></li>
              <li><a href="https://www.prolongevity.co.uk/blog">Blog</a></li>
            </ul>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">Unit 3 The Metro Centre, Ronsons Way, St Albans. AL49QT</li>
                <li class="phone"><a href="tel://01727 834 365">01727 834 365</a></li>
                <li class="email">graham.phillips@manorpharmacygroup.co.uk</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
               <strong>Copyright &copy; 2014-2019 <a href="https://www.prolongevity.co.uk/">ProLongevity</a>.</strong>
               All rights reserved.
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>

        </div>
      </div>
    </footer>