{% load cart_template_tags %}
{% load static %}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light">
    <div class="site-navbar py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a class="js-logo-clone" href="{% url 'index' %}">
              <img src="//static1.squarespace.com/static/5c6581b990f9041e32f89202/t/5e88c460138b9761ef873d95/1594374827805/?format=1500w" alt="Prediabetes | Type 2 Diabetes | Hypertension | Hertfordshire" class="Header-branding-logo">
              </a>
            </div>
          </div>
            {% if request.user.is_staff %}
            <div>
                <!-- VIEW SELECTION FORM -->
                <!--    NOTE:    Change in the below options, needs to change in other place as well. -->
                <!--    The same dropdown needs to be visible in the respective landing page. -->
                <!--    For Client, the landing page is "adminpanel/templates/adminpanel/content_header.html"  -->
                <!--    Also, modify the condition in admin.js for checking respective condition. -->
                <form class="form-inline">
                    {% csrf_token %}
                    <div class="input-group input-group-sm">
                        <label>View:</label>
                        <select class="form-control" name="groupview" id="groupview">
                            <option value="SuperAdmin">Super Admin</option>
                            <option value="Practitioner">Practitioner</option>
                            <option value="Consultant">Consultant</option>
                            <option value="Client">Client</option>
                        </select>
                    </div>
                </form>
                <!-- END VIEW SELECTION FORM -->
            </div>
            {% endif %}
          <div class="main-nav d-none d-lg-block" id="menu">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="active"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                  {% if request.user.is_authenticated %}
                <li class="has-children">
                  <a href="#">My Account</a>
                  <ul class="dropdown">
                    <li><a href="#">Profile</a></li>
                    <li><a href="{% url 'Purchase_History' %}">Order History</a></li>
                    <li class="has-children">
                      <a href="#">My ProLongevity</a>
                      <ul class="dropdown">
                        <li><a href="{% url 'plan' %}">My Plans (Orders)</a></li>
                        <li><a href="#">My Progress</a></li>
                        <li><a href="#">My Appointments</a></li>
                      </ul>
                    </li>
                    <li><a href="#" data-toggle="modal" data-target="#referModal">Refer Friend</a></li>
                  </ul>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
          <div class="icons">
            {% if request.user.is_authenticated %}
            <strong><span class="icons-btn d-inline-block">{{request.user}}</span></strong>
            <a href="{% url 'cart' %}" class="icons-btn d-inline-block bag cartlistdropdown" id="cartlistdropdown">
              <span class="icon-shopping-bag"></span>
              <span class="number">{{ request.user | cart_item_count}}</span>
            </a>

             <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right hideCartItemFromHome" style="right: 150px !important;width:20%;">
                 <center><span class="dropdown-item dropdown-header"><h3>Cart Items</h3></span></center>
                <div>
                 {% for item in orderitems %}
                 <div class="cart_box" style="padding: 1em;">
                     <div class="message">
                      <div class="alert-close{{item.Product.Product_Id}}" style="background:#fb5e33 url('{% static 'images/close.png' %}') no-repeat 6px 6px;"> </div>
                      <div class="list_img"><img src="{% static 'productimages/' %}{{item.Product.Image}}" class="img-responsive" alt=""></div>
                      <div class="list_desc" style="font-size:small;"><h6><a href="#">{{item.Product.Name}}</a></h6>{{item.Quantity}} x<span class="actual">
                       £{{item.getCartItemsPrice|floatformat:2}}</span></div>
                      <div class="clearfix"></div>
                    </div>
                 </div>
                {% empty %}
                     <div class="cart_box">
                         Your cart is empty
                     </div>
                {% endfor %}

              </div>
             </div>

            <a class="icons-btn d-inline-block" href="/Logout">
              <span class="icons-btn d-inline-block clearfix d-none" style="color:purple !important;text-decoration: underline;"> Logout </span>
            </a>
            {% else %}
             <a class="icons-btn d-inline-block" href="/login/">
              <span class="icons-btn d-inline-block clearfix d-none d-sm-inline-block" style="color:purple;text-decoration: underline; !important"> Login </span>
            </a>
            {% endif %}
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
                class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>
</nav>

<div class="modal fade" role="dialog" id="referModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Customer referral</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" name="referralName" id="referralName" class="form-control" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <input type="email" name="referralEmail" id="referralEmail" class="form-control" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <h5>* Get an amazing discount offer, after a successful registration from your reference.</h5>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="btnSendReferralEmail">Send Referral Email</button>
            </div>
        </div>
    </div>
  </div>